<header>
  <h1>Bowling game</h1>
</header>

<div class="container scoreboard"
     *ngIf="isGameStarted">
  <div class="card">
    <h2>Scoreboard</h2>
    <div class="grid-container">
      <div class="frame-numbers">
        <div>1</div>
        <div>2</div>
        <div>3</div>
        <div>4</div>
        <div>5</div>
        <div>6</div>
        <div>7</div>
        <div>8</div>
        <div>9</div>
        <div>10</div>
      </div>
      <div class="total">
        <h3>total</h3>
      </div>
      <div *ngFor="let playerBoard of scoreBoard"
           [ngClass]="playerBoard.playerID"
           class="column-one name">
           <h4>{{playerBoard.name}}</h4>
      </div>
      <div *ngFor="let playerBoard of scoreBoard"
           [ngClass]="playerBoard.playerID"
           class="column-two frame-score">
        <div *ngFor="let frame of playerBoard.playerScore"
             class="frame">
            <div class="throws">
              <div></div>
              <div>{{frame.throwOne}}</div>
              <div>{{frame.throwTwo}}</div>
            </div>
            <div class="frame-total">{{frame.frameScore}}</div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="container game-start"
     *ngIf="!isGameStarted">
  <div class="card">
    <h3>Let's play bowling</h3>
    <div class="content">
      <div *ngIf="!canAddPlayer && !fourPlayers">
        <p>Do you want to add a player? (max. 4 players)</p>
        <div class="button-container">
          <button (click)="onAddNextPlayer()">Add another player</button>
          <button (click)="gameStart()">Start the game!</button> 
        </div>

      </div>
      <button (click)="gameStart()"
              *ngIf="!canAddPlayer && fourPlayers">
              Start the game!
      </button> 
  
  
      <div *ngIf="canAddPlayer">
        <form >
          <label for="new-player">Choose a players name:</label>
          <input type="text" class="form-control" id="name"
          required
          [(ngModel)]="newPlayer" name="new-player">
          <button type="submit"
                  (click)="onAddPlayer()"
                  [disabled]="!newPlayer">
                  Add player
          </button>
        </form>
      </div>
      
      <div *ngIf="scoreBoard.length">
        <hr />
        <div *ngFor="let playerBoard of scoreBoard">
          <p><span>Player {{playerBoard.playerID}}: </span><span>{{playerBoard.name}}</span></p>
        </div>
      </div>
      
    </div>
    </div>

    
  
</div>

<div class="container player-turn"
     *ngIf="isGameStarted">
  <div class="card">
    <div *ngFor="let player of scoreBoard">
      <div *ngIf="player.turn">
        <h3>Your up {{player.name}}</h3>
        <button (click)="onThrow()">Throw</button>
      </div>
    </div>
  </div>

</div>

  
 
